@import "color_schemes/macchiato.scss";

strong, b {
  color: $macchiato-sapphire;
}

em, i {
  color: $macchiato-lavender;
}

del {
  color: $macchiato-maroon;
}

.task-list-item-checkbox {
  appearance: none;

  vertical-align: text-top;
  width: 1em;
  height: 1em;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  border-color: $macchiato-lavender;
  background-color: $macchiato-base;
}

.task-list-item-checkbox:checked {
  vertical-align: text-top;
  background-color: $macchiato-lavender;
}

.task-list-item-checkbox:checked::after {
  vertical-align: text-top;
  text-align: center;
  content: "✔";
  font-size: 0.9em;
  color: $macchiato-base;
}

// Override all headings in Just the Docs
h1, h2, h3, h4, h5, h6,
.text-alpha, .text-beta, .text-gamma, .text-delta, .text-epsilon, .text-zeta {
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal;
}

// Enforce proper descending heading sizes
h1, .text-alpha   { font-size: 2.25rem !important; }
h2, .text-beta    { font-size: 1.75rem  !important; }
h3, .text-gamma   { font-size: 1.5rem!important; }
h4, .text-delta   { font-size: 1.3rem    !important; }
h5, .text-epsilon { font-size: 1.15rem!important; }
h6, .text-zeta    { font-size: 1.05rem !important; }