@import "color_schemes/macchiato.scss";

//Custom Callout Colors
$purple-000: $macchiato-mauve;
$purple-300: $macchiato-mauve;

$blue-000: $macchiato-sapphire;
$blue-300: $macchiato-sapphire;
$green-000: $macchiato-green;
$green-300: $macchiato-green;
$yellow-000: $macchiato-peach;
$yellow-300: $macchiato-peach;
$red-000: $macchiato-maroon;
$red-300: $macchiato-maroon;
$grey-dk-000: $macchiato-sapphire;
$grey-dk-100: $macchiato-sapphire;
$grey-dk-250: $macchiato-sapphire;
$grey-dk-300: $macchiato-sapphire;
$grey-lt-000: $macchiato-sapphire;
$grey-lt-100: $macchiato-sapphire;
$grey-lt-200: $macchiato-sapphire;
$grey-lt-300: $macchiato-sapphire;