@import "macchiato.scss";
@import "codeppuccin.scss";

$body-background-color: $macchiato-base;
$body-heading-color: $macchiato-lavender;
$body-text-color: $macchiato-text;
$link-color: $macchiato-teal;
$nav-child-link-color: $macchiato-overlay-0;
$sidebar-color: $macchiato-mantle;
$base-button-color: $macchiato-surface-0;
$btn-primary-color: $macchiato-mauve;
$code-background-color: $macchiato-mantle;
$code-linenumber-color: $macchiato-subtext-0;
$feedback-color: $macchiato-mantle;
$table-background-color: $macchiato-surface-0;
$search-background-color: $macchiato-surface-0;
$search-result-preview-color: $macchiato-overlay-0;
$border-color: $macchiato-surface-0;